

  .sql-depth {
    display: inline-block;
    padding-left: 14px;
    background: url('images/path-icon-bg.png') no-repeat}

  .sql-depth-1 {margin-left:  20px}
  .sql-depth-2 {margin-left:  40px}
  .sql-depth-3 {margin-left:  60px}
  .sql-depth-4 {margin-left:  80px}
  .sql-depth-5 {margin-left: 100px}
  .sql-depth-6 {margin-left: 120px}
  .sql-depth-7 {margin-left: 140px}
  .sql-depth-8 {margin-left: 160px}
  .sql-depth-9 {margin-left: 180px}